*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.calculator{
   flex: 0 0 70%
}

.screen{
   width: 100%;
   font-size: 7rem;
   padding: 0.5rem;
   background-color: rgb(41,41,56);
   color: #fff;
   border: none;
   text-align: right;
}

.buttons{
   display: flex;
   flex-wrap: wrap;
   transition: all 0.5s linear;
   
}

button{
   flex: 0 0 25%;
   border: 1px solid black;
   padding: 0.25rem 0;
   transition: all 2s ease;
   outline: none;
   cursor: pointer;
}

button:hover{
   background-color: blue;
}

.btn-yellow{
   background-color: rgb(245,146,62);
   color: #fff;
}

.btn-grey{
   background-color: rgb(224,224,224);
}

.btn, .btn-equal, .btn-clear{
   font-size: 4rem;
}

.btn-equal{
   background-color: green;
}

.btn-clear{
   background-color: red;
}
