body{
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
   margin: 0;
}

.btnColor{
   background: rgba(0,0,0,0.6);
   color: #fff;
   border: none;
   padding: 0.25rem 0.5rem;
   cursor: pointer;
   font-size: 1rem;
   
}

.btnColor:hover{
   background: rgba(0,0,0);
   border: solid 4px #fff;
}